<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/vertical-parallax.js"></script>
    <link href="~/Content/style.css" rel="stylesheet"/>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" style ="position:absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index">
                   <img src="~/Images/travel-diaries.png" alt="Travel Diary" style="width:50px; height:50px"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Map", "Map", "Home")</li>
                        <li>@Html.ActionLink("Show visits", "ShowVisits", "Home")</li>
                        <li>@Html.ActionLink("Gallery", "PictureGallery", "Home")</li>
                    }
                    <li>@Html.ActionLink("WikiSearch", "WikiSearch", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a class="btn btn-primary" href="Admin/Admin/Index">Admin</a></li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="position: relative; margin-top: 30px;">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("gallery", required: false)
</body>
</html>
